<div class="container-fluid">

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Welcome!</strong> For the time being the recording length is set to 10 seconds max.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- <div class="wrapper" #wrapper> -->
  <div class="btn-group mt-2 mb-2">
    <button *ngIf="!isRecording" type="button" class="btn btn-primary" (click)="startRecording()">Record</button>&nbsp;
    <button *ngIf="isRecording" type="button" class="btn btn-danger" (click)="stopRecording()">Stop</button>
  </div>
  <div class="row">
    <canvas class="visualizer ml-3" width="640" height="100" #myCanvas></canvas>
  </div>

  <!-- <div class="row">
    <div id="waveform"></div>

    <div class="waveform-container">
      <div class="zoom-view-container"></div>
      <div class="overview-container"></div>
    </div>
  </div> -->

  <div class="row">
    <label class="ml-3">Pitch: {{pitch.toFixed(2)}}Hz</label>
    <!-- <div *ngIf="recordCompleted">
      <div class="form-group form-check">
        <button type="button" class="btn btn-primary" (click)="togglePitchDisplay()">
          {{pitchShowHideText}} </button>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="form-check ml-3" *ngIf="recordCompleted">
      <input class="form-check-input" type="checkbox" data-toggle="toggle" [checked]="hideZeroes"
        name="showHideCheckBox" (change)="togglePitchDisplay()">
      <label class="form-check-label" for="showHideCheckBox">
        {{pitchShowHideText}}
      </label>
    </div>
  </div>
  <!-- <div id="chartdiv" style="width: 100%; height: 500px"></div> -->

  <div class="control-section" *ngIf="recordCompleted">
    <!-- <div class="row">
      Average pitch of selected range: {{rangeAverage}} Hz
      <button type="button" class="btn btn-success" (click)="addToRollingAverage()">Add to Rolling Average</button>
      <input type="number" class="form-control col-sm-3" name="rangeSize" [(ngModel)]="rangeSize"
        placeholder="Enter range size" (change)="changeRangeSize($event)">
    </div> -->
    <form>
      <div class="form-group row">
        <label for="startingPoint" class="col-sm-2 col-form-label">Increment size:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="startingPoint" [(ngModel)]="incrementSize"
            (change)="changeIncrementSize($event)" placeholder="Enter increment size..." tabindex="1">
        </div>
      </div>
      <div class="form-group row">
        <label for="range" class="col-sm-2 col-form-label">Range: </label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="range" [(ngModel)]="rangeSize"
            (change)="changeRangeSize($event)" placeholder="Enter range..." [readonly]="!incrementSizeEntered"
            [title]="!incrementSizeEntered ? 'Please enter starting point before entering range.': ''" tabindex="2">
        </div>
      </div>

      <div class="form-group row">
        <label for="range" class="col-sm-2 col-form-label"> </label>
        <button *ngIf="rangeSize" type="button" class="btn btn-primary ml-3"
          (click)="calculateRollingAverage()">Generate
          Rolling
          Average</button>
      </div>

    </form>
    <label>Amplitude Chart</label>
    <br />
    <div class="row">
      <div align="center">
        <ejs-chart #amplitudeChart style='display:block;' id='amplitudeChart' align='center' [chartArea]='chartArea'
          [width]='width' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxisForAmplitude' height='300'
          [theme]='theme' [tooltip]='tooltip' [annotations]='annotations' (axisLabelRender)='axisLabelRender($event)'>
          <e-series-collection>
            <e-series [dataSource]='amplitudeDataSource' name='Amplitude' type='Spline' xName='x' yName='y' width='2'
              [marker]="marker" [animation]='animation' [fill]="'#e74c3d'">
            </e-series>
          </e-series-collection>
        </ejs-chart>
      </div>
    </div>
    <label>Pitch Chart</label>
    <br />
    <div class="row" align="center">
      <!-- <div align="center">
        <ejs-rangenavigator style='display:block' align='center' id='containerDouble' [value]='rangeValue'
          labelPosition='Outside' [width]='width' (changed)='changed($event)' [theme]='theme' [tooltip]='tooltip'
          (tooltipRender)='tooltipRender($event)' (load)='load($event)'>
          <e-rangenavigator-series-collection>
            <e-rangenavigator-series [dataSource]='dataSource' xName='x' yName='y' width=2 name='SL'>
            </e-rangenavigator-series>
          </e-rangenavigator-series-collection>
        </ejs-rangenavigator>
      </div> -->
      <div align="center">
        <ejs-chart #chartDouble style='display:block;' id='chartDouble' align='center' [chartArea]='chartArea'
          [width]='width' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxisForPitch' height='300'
          [theme]='theme' [tooltip]='tooltip' [annotations]='annotations' (axisLabelRender)='axisLabelRender($event)'>
          <e-series-collection>
            <e-series [dataSource]='dataSource' name='Pitch' type='Spline' xName='x' yName='y' width='2'
              [marker]="marker" [animation]='animation'>
            </e-series>
          </e-series-collection>
        </ejs-chart>
      </div>
    </div>
    <label>Rolling Average (Amplitude)</label>
    <br />
    <div class="row">
      <div align="center">
        <ejs-chart #rollingAverageAmplitudeChart style='display:block;' id='rollingAverageAmplitudeChart' align='center'
          [chartArea]='chartArea' [width]='width' [primaryXAxis]='primaryXAxis'
          [primaryYAxis]='primaryYAxisForAmplitude' height='300' [theme]='theme' [tooltip]='tooltip'
          [annotations]='annotations' (axisLabelRender)='axisLabelRender($event)'>
          <e-series-collection>
            <e-series [dataSource]='rollingAverageAmplitudeDataSource' name='Amplitude' type='Spline' xName='x'
              yName='y' width='2' [marker]="marker" [animation]='animation' [fill]="'#e74c3d'">
            </e-series>
          </e-series-collection>
        </ejs-chart>
      </div>
    </div>
    <label>Rolling Average (Pitch)</label>
    <br />
    <div class="row">
      <div align="center">
        <ejs-chart #rollingAveragePitchChart style='display:block;' id='rollingAveragePitchChart' align='center'
          [chartArea]='chartArea' [width]='width' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxisForPitch'
          height='300' [theme]='theme' [tooltip]='tooltip' [annotations]='annotations'
          (axisLabelRender)='axisLabelRender($event)'>
          <e-series-collection>
            <e-series [dataSource]='rollingAverageDataSource' name='Pitch' type='Spline' xName='x' yName='y' width='2'
              [marker]="marker" [animation]='animation'>
            </e-series>
          </e-series-collection>
        </ejs-chart>
      </div>
    </div>
  </div>
</div>

<div style="position: relative">
  <!-- the position of the parent container must be set to relative -->
  <!-- It is really important to set loaderId for non-master loader -->
  <ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>
</div>

<div style="position: relative">
  <!-- the position of the parent container must be set to relative -->
  <!-- It is really important to set loaderId for non-master loader -->
  <ngx-ui-loader [loaderId]="'loader-02'"></ngx-ui-loader>
</div>

<ngx-ui-loader [text]="'Generating chart ...'"></ngx-ui-loader>