<div class="container-fluid">

  <!-- <div class="wrapper" #wrapper> -->
  <div class="btn-group mt-2 mb-2">
    <button type="button" class="btn btn-primary" (click)="startRecording()">Record</button>&nbsp;
    <button type="button" class="btn btn-danger" (click)="stopRecording()">Stop</button>
  </div>
  <div class="row">
    <canvas class="visualizer" width="640" height="100" #myCanvas></canvas>
  </div>

  <div class="row">
    <!-- <canvas class="sine-wave-visualizer" width="300" height="100"></canvas> -->
    <div id="waveform"></div>

    <div class="waveform-container">
      <div class="zoom-view-container"></div>
      <div class="overview-container"></div>
    </div>
    <!-- </div> -->
  </div>

  <div class="row">
    <label class="ml-3">Pitch: {{pitch.toFixed(2)}}Hz</label>
    <div *ngIf="recordCompleted">
      <div class="form-group form-check">
        <button type="button" class="btn btn-primary" (click)="togglePitchDisplay()">
          {{pitchShowHideText}} </button>
      </div>
    </div>
  </div>

  <!-- <div id="chartdiv" style="width: 100%; height: 500px"></div> -->

  <div class="control-section" *ngIf="recordCompleted">
    Average pitch of selected range: {{rangeAverage}} Hz
    <button type="button" class="btn btn-success" (click)="addToRollingAverage()">Add to Rolling Average</button>
    <div class="row" align="center">
      <div align="center">
        <ejs-rangenavigator style='display:block' align='center' id='containerDouble' [value]='rangeValue'
          labelPosition='Outside' [width]='width' (changed)='changed($event)' [theme]='theme' [tooltip]='tooltip'
          (tooltipRender)='tooltipRender($event)' (load)='load($event)'>
          <e-rangenavigator-series-collection>
            <e-rangenavigator-series [dataSource]='dataSource' xName='x' yName='y' width=2 name='SL'>
            </e-rangenavigator-series>
          </e-rangenavigator-series-collection>
        </ejs-rangenavigator>
      </div>
      <div align="center">
        <ejs-chart #chartDouble style='display:block;' id='chartDouble' align='center' [chartArea]='chartArea'
          [width]='width' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' height='400' [theme]='theme'
          [tooltip]='tooltip' [annotations]='annotations' [legendSettings]='legendSettings' (loaded)='loaded($event)'
          (axisLabelRender)='axisLabelRender($event)'>
          <e-series-collection>
            <e-series [dataSource]='dataSource' name='Value' type='Spline' xName='x' yName='y' width='2'
              [marker]="marker" [animation]='animation'>
            </e-series>
          </e-series-collection>
        </ejs-chart>
      </div>
    </div>
    <label>Rolling Average Chart</label>
    <br />
    <div class="row">
      <div align="center">
        <ejs-chart #rollingAverageChart style='display:block;' id='rollingAverageChart' align='center'
          [chartArea]='chartArea' [width]='width' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
          height='400' [theme]='theme' [tooltip]='tooltip' [annotations]='annotations' (loaded)='loaded($event)'
          (axisLabelRender)='axisLabelRender($event)'>
          <e-series-collection>
            <e-series [dataSource]='rollingAverageDataSource' name='Value' type='Spline' xName='x' yName='y' width='2'
              [marker]="marker" [animation]='animation'>
            </e-series>
          </e-series-collection>
        </ejs-chart>
      </div>
    </div>
  </div>
</div>