<div class="wrapper" #wrapper>

  <button type="button" (click)="startRecording()">Record</button>
  <button type="button" (click)="stopRecording()">Stop</button>

  <canvas class="visualizer" width="640" height="100" #myCanvas></canvas>

  <!-- <canvas class="sine-wave-visualizer" width="300" height="100"></canvas> -->
  <div id="waveform"></div>
  <div id="waveform1"></div>

  <div class="waveform-container">
    <div class="zoom-view-container"></div>
    <div class="overview-container"></div>
  </div>
</div>

<div class="pitch"><span id="pitch">{{pitch}}</span>Hz</div>
<!-- <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [xAxis]=" xAxis" [yAxis]="yAxis" [timeline]="timeline"
  [results]="multi">
</ngx-charts-line-chart> -->